// Here are the colors you can edit to change the look of your site.

// Don't delete these variables! Only change the values.
$main-color: #4286f4;
$link-color: #413aaa;

// You can change these colors and number of colors in
// this list, but don't delete the list entirely.
//
// This lets you have classes like .blue-background,
// .green-text, .pink-button, etc.
$colors: (
    'blue': $main-color,
    'light-blue': #d8e7ff,
    'green': #39a851,
    'light-green': #e2ffe9,
    'pink': #f76cad,
    'light-pink': #ffddea,
    'purple': #8e40ce,
    'light-purple': #f1e0ff
);


// ------ That's it, you're done! Don't edit after this line. ------ //


// Includes all the code magic you don't need to worry about. <3
@import 'core/_core';
