/*------*/
/* Menu */
/*------*/

nav {
    background-color: $main-color;
}

// This menu just supports two levels of links -- the main links, and
// their immediate dropdowns. Don't try to put dropdowns in dropdowns.
.menu {
    @include display-flex;
    @include align-items(center);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
    
    > * {
        @include flex(0 1 auto);
    }
    
    h1, h2, h3, h4, h5, h6, p, ul, ol, li {
        margin: 0;
    }
    
    ul {
        list-style: none;
        
        ul {
            position: absolute;
            visibility: hidden;
            top: 100%;
            right: 0;
            z-index: 1;
            width: 250px;
            border: 2px solid #fff;
            background-color: $main-color;
            text-align: left;
            @include box-shadow(0 2px 2px 0 rgba(#000, 0.05));
            opacity: 0;
            transition: visibility 0.4s ease, opacity 0.4s ease;
            
            &.show {
                z-index: 2;
                visibility: visible;
                opacity: 1;
            }
            
            li {
                display: block;
            }
        }
    }
    
    li {
        position: relative;
        display: inline-block;
    }
    
    a {
        display: block;
        padding: 0.5rem 2rem;
        color: #fff;
        text-decoration: none;
        
        &:hover, &:focus {
            background-color: #fff;
            color: $main-color;
        }
    }
}

.has-dropdown > a {
    padding-right: 4rem;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 10'><polygon points='10 10 0 0 20 0 10 10' fill='%23CCCCCC'/></svg>");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 10px 5px;
}

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
