// Colors~!

// Don't delete these! Only change the values
$main-color: #4286f4;
$link-color: #413aaa;

// You can change this list but don't delete it entirely
$colors: (
    'blue': $main-color,
    'light-blue': #d8e7ff,
    'green': #39a851,
    'light-green': #e2ffe9,
    'pink': #f794c2,
    'light-pink': #ffddea,
    'purple': #8e40ce,
    'light-purple': #f1e0ff
);
