//-----------//
// Variables //
//-----------//

// Sizes for things
$desktop-size: 768px;
$max-width: 1200px;
$space-unit: 3rem;
$text-space-unit: 1rem;

// Font weights so we don't have to remember stuff like "semibold" is 600, etc.
$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

// Colors~!
$light-gray: #eee;
$medium-gray: #aaa;
$dark-gray: #555;

$error: #f44242;
