/*--------*/
/* Tables */
/*--------*/

table {
    width: 100%;
    border: solid 1px $light-gray;
    border-collapse: collapse;
    border-color: rgba($medium-gray, 0.5);
}

thead {
    background-color: $dark-gray;
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgba($medium-gray, 0.2);
}

th {
    font-weight: $bold;
}

td, th {
    vertical-align: top;
    padding: 0.5rem;
    line-height: 1.5;
    
    @include breakpoint($desktop-size) {
        padding: 0.5rem 1rem;
    }
}
