/*-----------------*/
/* Utility Classes */
/*-----------------*/

/* Buttons */

%button {
    display: inline-block;
    padding: 1rem 2rem;
    border: 0;
    @extend %default-border-radius;
    background-color: $main-color;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    
    &:hover, &:focus {
        background-color: darken($main-color, 15%);
        color: #fff;
    }
}

.button {
    @extend %button;
}

%default-border-radius {
    border-radius: 5px;
}

.round-corners {
    @extend %default-border-radius;
}

/* Utility classes for spacing */

$box-model: margin, padding;

$spacing: (
    small: $space-unit / 2,
    large: $space-unit * 2
);

$directions: top, right, bottom, left;

// Don't mind this scary bit of SASS. The outputted CSS might make more sense.
//
// This generates a bunch of utility classes, such as .add-margin,
// .add-padding, .add-top-padding, .add-top-small-padding, etc.
@each $box-model-part in $box-model {
    .add-#{$box-model-part} {
        #{$box-model-part}: $space-unit;
    }
    
    @each $size, $space in $spacing {
        .add-#{$size}-#{$box-model-part} {
            #{$box-model-part}: $space;
        }
        
        @each $direction in $directions {
            .add-#{$direction}-#{$box-model-part} {
                #{$box-model-part}-#{$direction}: $space-unit;
            }
            
            .add-#{$size}-#{$direction}-#{$box-model-part} {
                #{$box-model-part}-#{$direction}: $space;
            }
        }
    }
}

/* Utility classes for colors */

.light-text {
    color: #fff;
    
    a {
        color: #fff;
        
        &:hover, &:focus {
            color: #ccc;
        }
    }
}

.dark-text {
    color: #000;
}

@each $name, $color in $colors {
    .#{$name}-background {
        background-color: $color;
    }
    
    .#{$name}-text {
        color: $color;
    }
    
    .#{$name}-button {
        background-color: $color;
        
        &:hover, &:focus {
            background-color: darken($color, 15%);
        }
    }
    
    .#{$name}-border {
        border: 2px solid $color;
    }
    
    .#{$name}-underline {
        border-bottom: 2px solid $color;
    }
    
    .#{$name}-thin-border {
        border: 1px solid $color;
    }
    
    .#{$name}-thin-underline {
        border-bottom: 1px solid $color;
    }
    
    .#{$name}-thick-border {
        border: 5px solid $color;
    }
    
    .#{$name}-thick-underline {
        border-bottom: 5px solid $color;
    }
}

.border {
    border: 2px solid #000;
}

.underline {
    border-bottom: 2px solid #000;
}

.thin-border {
    border: 1px solid #000;
}

.thin-underline {
    border-bottom: 1px solid #000;
}

.thick-border {
    border: 5px solid #000;
}

.thick-underline {
    border-bottom: 5px solid #000;
}
