/*----------------------------*/
/* Typography Utility Classes */
/*----------------------------*/

// Alignment
.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

// Case
.uppercase {
    text-transform: uppercase;
}

// Weight
.light-weight {
    font-weight: $light;
}

.normal-weight {
    font-weight: $normal;
}

.semibold-weight {
    font-weight: $semibold;
}

.bold-weight {
    font-weight: $bold;
}
