/*--------*/
/* Tables */
/*--------*/

table {
    width: 100%;
    border: 1px solid $main-color;
    border-collapse: collapse;
}

thead {
    background-color: $main-color;
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgba($main-color, 0.15);
}

th {
    font-weight: $bold;
}

td, th {
    vertical-align: top;
    padding: 0.5rem;
    line-height: 1.5;

    @include breakpoint($desktop-size) {
        padding: 0.5rem 1rem;
    }
}
